# Copy to config.env and adjust for your host.

NUM_VMS=3
VM_PREFIX=pve0

VM_MEMORY_MB=4096
VM_CORES=2
VM_MACHINE=pc-q35-7.0
VM_ACCEL=kvm
VM_CPU=host,migratable=on
VM_DISPLAY=gtk
VM_NET_DEVICE=virtio-net-pci

DISK_LAYOUT="a1:20G a2:20G b1:40G b2:40G"

USE_TAP_NETWORK=0
BRIDGE_NAME=manzolo-br0
INTERFACE_NAME=
TAP_PREFIX=manzolo-tap
TAP_USER=
DHCP_ON_BRIDGE=0

PROXMOX_ISO_VERSION=9.1-1
ISO_URL_INDEX=https://download.proxmox.com/iso/
ISO_URL_FALLBACKS="https://de2.cdn.proxmox.com/iso/ https://de.cdn.proxmox.com/iso/ https://enterprise.proxmox.com/iso/"
ALLOW_INSECURE_TLS=0

# Used only if you prepare automated-install ISOs.
AUTO_HOSTNAME_PREFIX=pvelab
AUTO_DOMAIN=lab.local
AUTO_ROOT_PASSWORD=CHANGEME
AUTO_MAILTO=root@localhost
AUTOINSTALL_PROFILE=zfs-mirror
CLUSTER_NAME=pvelab
DATA_ZPOOL_NAME=vmdata
DATA_ZPOOL_DEVICES="sdc sdd"
DATA_STORAGE_ID=vmdata
DATA_STORAGE_CONTENT=images,rootdir
